/*
 Theme Name:   Listingpro Child
 Theme URI:    http://studio.cridio.com/listingpro/
 Description:  Listingpro Child Theme
 Author:       cridio team
 Author URI:   http://cridio.com/
 Template:     listingpro
 Version:      1.0.0
 Tags:         listingpro, directory, listing, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  listingpro
*/
.home-categories-area.parent-taxonomy-listing {
    z-index: 1;
    display: block;
    position: relative;
}
.page-heading.parent-taxonomy-listing-banner {
    height: 410px;
}
.parent-taxonomy-listing-banner .page-heading-inner-container {
    margin: 10px 0 30px;
}
.chosen-container .chosen-results {max-height: 500px !important;}
.lp-grid-box-contianer1 .lp-grid-box-description .lp-h4 {
    white-space: normal;
}
.home-categories-area.banner-view-classic .container {
    width: 1170px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
.term-professional-services .home-categories-area.banner-view-classic .container {
    width: 1301px;
}